{% extends 'cafeteria/base.html' %}
{% block sub-content %}
<div class="container">
  <div class="row">
    <div class="col-lg-9 mx-auto text-center">
      <h1 class="display-4 my-5">{{ am_reserving }}</h1>
        <div class="badge  bg-info text-light"style="width: 30rem;">
        {% if am_reserving == '予約があります' %}
            <h2 class="fs-1">あなたの席: {{ seat_id }}番</h2>
            {% if half == 1 %}
                <h2 class="fs-1">予約枠: 前半 (12:50~13:15)</h2>
            {% else %}
                <h2 class="fs-1">予約枠: 後半 (13:15~13:40)</h2>
            {% endif %}
        {% else %}
            <h2 class="fs-1">予約ページから予約してください</h2>
        {% endif %}
        </div>
        {% if am_reserving == '予約があります' %}
        <div class="pt-3">
            <form action="" method="post">
                {% csrf_token %}
                <input type="submit" class="btn btn-danger" value="予約取り消し">
            </form>
            <p>予約を取り消すとチケットが戻ります</p>
            <p>予約の取り消しは当日の10時までです</p>
        </div>
        {% endif %}
    </div>
  </div>
</div>
<div class="col-lg-6 mx-auto text-center pt-3">
    <a href="{% url 'cafeteria:top' %}" class="btn btn-secondary btn-lg col-6">学食予約トップに戻る</a>
</div>
{% endblock %}